/*
Autor: Daniel Páez
URL Autor: https://heysoypaez
Tema de la aplicación: calculadora para un negocio de reposteria 
Descripción: aplicacion que ayuda a calcular los gastos, ingresos, ganancias, stock de un negocio de reposteria
URL código: github.com/heysoypaez
*/
 
/* Table of Contents

	- Defaults
		- Body
		- Button
		- Typographical Elements

	- Structure and Layout
		- Site Containers
		- Title
		- Column Widths and Positions
		- Column Classes

	-Estados
		-oculto

	- Classes and Ids
		app
		-header
		--header-col-1
		--header-col-2
		--header-col-3

		-content
		--sidebar
		---barra-jornadas

		--principal
		---boton-new-day
		---- form #input Formulario input-stock-inicial

		---contenido-jornada

	-footer

	- Media Queries
		- max-width: 1139px
		- max-width: 1023px
		- max-width: 767px

Estructura del contenido de un selector

	/* Size */
	/* Font and text */
	/* Margin */
	/* Padding */
	/* Color */
	/* Border */
	/* Others * /


*/


/*
Defaults
---------------------------------------------------------------------------------------------------- */
	
	/* Body
	------------------------------------------------------------------------------------------------ */



body{

	/* Size */

	/* Font and text */
	font-family: 'Raleway', sans-serif;
	text-align: center;

	/* Margin */
	margin: 20px;
	
	/* Padding */

	/* Color */
	background-color: #ff9900;
	color: #ffffff;

	/* Border */

	/* Others */

}

	/* Button
	------------------------------------------------------------------------------------------------ */


button{


	margin-top: 1vh;
	max-height: 65vh;

	background-color: #e00; /*gray color*/
	color: #fff;

	font-size: 20px;
	font-weight: 600;

	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;

	border-radius: 20px;

	border: 0px;
	border-bottom: 3px solid black;
	/*width, style, color*/

}

button:hover {

	background-color: #f00;
	border-bottom: 1px solid black;
}


/* Estados
------------------------------------------------------------------------------------------------ */

/* oculto
------------------------------------------------------------------- */

.oculto {
	display: none;
}



/* Classes and Ids
------------------------------------------------------------------------------------------------ */

/* Header class
------------------------------------------------------------------- */

.header {

	/* Size */
	max-height: 50vh;

	/* Font and text */

	/* Margin */

	/* Padding */
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;

	/* Color */
	background-color: #999; /*gray color*/

	/* Border */
	border-radius: 20px;
	border-bottom: 8px solid black;
	/*width, style, color*/

	/* Others */
	display: block;

}


/* Logo id
------------------------------------------------------------------- */


img#logo {

	max-height: 40vh;
	max-width: 5vw;
	border-radius: 10%;
	float: left;



}


/* Sidebar class
------------------------------------------------------------------- */


.sidebar {


	/* Size */
	height: 90vh;
	width: 15vw;

	max-height: 65vh;


	/* Font and text */

	/* Margin */
	margin-top: 1vh;

	/* Padding */
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;


	/* Color */
	background-color: #999; /*gray color*/

	/* Border */
	border-radius: 20px;
	border-bottom: 8px solid black;
	/*width, style, color*/


	/* Others */
	display: block;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;

}


/* principal class
------------------------------------------------------------------- */


.principal {

	/* Size */
	height: 90vh;
	width: 65vw;

	max-height: 65vh;

	/* Font and text */

	/* Margin */
	margin-top: 1vh;

	/* Padding */
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;


	/* Color */
	background-color: #eee; /*gray color*/

	/* Border */
	border-radius: 20px;
	border-bottom: 8px solid black; /*width, style, color*/

	/* Others */	
	float: right;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Formulario input-stock-inicial
------------------------------------------------------------------- */

form#input-stock-inicial {
	background-color: pink;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 4vh;
	border-radius: 20px;
}


/*Clase producto Formulario
======================================*/

.productoFormulario{
	background-color: red;
	color: white;
	width: 40%;
	height: 250px;

	border-radius: 30px;
	float: left;

	/* Padding */
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 2vw;
	padding-right: 2vw;


	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 6vh;
	margin-bottom: 1vh;

	box-shadow: gray 5px 5px 5px
}



/* contenido-jornada
------------------------------------------------------------------- */


#contenido-jornada{
	color: #000;
	text-align: left;

	margin-top: 3vh;
}

/*
#focus {
	color: #fff;
	font-weight: 600;
	font-size: 20px;

	position: fixed;
	top: 40vh;
	left: 40vw;
	
	background-color: #e22;
	padding: 5% 5% 5% 5%;

	box-shadow: 1vw 1vh 40px 1px #f90;

}
*/

/* imagenProducto
------------------------------------------------------------------- */

img.imagenProducto{

	/* Size */
	width: 18vw;
	height: auto;

	max-width: 120px;
	/* Font and text */
	/* Margin */
	/* Padding */
	/* Color */
	/* Border */
	border-radius:30%
	/* Others */
	
}

/* footer class
------------------------------------------------------------------- */


.footer{
	float:right;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */



@media only screen and (max-width: 900px) {
	img#logo {
		max-width:10vh;
	}
}