/* Body
-------------------------------------------------------- */

body {

	/* Size */

	/* Font and text */
	font-family: 'Raleway', sans-serif;
	text-align: center;

	/* Margin */
	margin: 20px;
	
	/* Padding */

	/* Color */
	background-color: #ff9900;
	color: #ffffff;

	/* Border */

	/* Others */

}
